<div theme>
  <dxc-dropdown
    label="Default Dropdown"
    size="medium"
    margin="small"
    (onSelectOption)="selected($event)"
  >
    <dxc-dropdown-icon>
      <img
        src="https://img.icons8.com/android/24/000000/twitter.png"
        alt="Twitter"
      />
    </dxc-dropdown-icon>
    <dxc-dropdown-option label="Facebook" value="1">
      <dxc-dropdown-icon>
        <img
          src="https://img.icons8.com/android/24/000000/facebook.png"
          alt="Facebook"
        />
      </dxc-dropdown-icon>
    </dxc-dropdown-option>
    <dxc-dropdown-option label="Twitter">
      Twitter
      <dxc-dropdown-icon>
        <img
          src="https://img.icons8.com/android/24/000000/twitter.png"
          alt="Facebook"
        />
      </dxc-dropdown-icon>
    </dxc-dropdown-option>
    <dxc-dropdown-option label="Linkedin">
      <dxc-dropdown-icon>
        <img
          src="https://img.icons8.com/android/24/000000/linkedin.png"
          alt="Facebook"
        />
      </dxc-dropdown-icon>
    </dxc-dropdown-option>
  </dxc-dropdown>
</div>
