<div
  theme
  style="
    display: 'flex';
    flex-wrap: 'no-wrap';
    column-gap: '100px';
    margin: '36px';
  "
>
  <dxc-radio-group
    label="Error as &#34;&#34;"
    helperText="empty space place of error"
    [options]="options"
    error=""
  ></dxc-radio-group>

  <dxc-radio-group
    label="Error as truthy value"
    helperText="error message"
    [options]="options"
    error="Error Message"
  ></dxc-radio-group>

  <dxc-radio-group
    label="Error as undefined value"
    helperText="No space available"
    [options]="options"
  ></dxc-radio-group>
</div>
