<dxc-application-layout theme>
  <dxc-header></dxc-header>
  <dxc-application-layout-sidenav padding="medium">
    <div class="sidenavContent" style="text-align: left; height: 100%;">
      <p>lorem ipsum</p>
      <p>lorem ipsum</p>
      <p>lorem ipsum</p>
      <p>lorem ipsum</p>
      <p>lorem ipsum</p>
      <p>lorem ipsum</p>
      <p>lorem ipsum</p>
      <p>lorem ipsum</p>
      <p>lorem ipsum</p>
      <p>lorem ipsum</p>
      <p>lorem ipsum</p>
      <p>lorem ipsum</p>
      <p>lorem ipsum</p>
      <p>lorem ipsum</p>
      <p>lorem ipsum</p>
      <p>lorem ipsum</p>
      <p>lorem ipsum</p>
      <p>lorem ipsum</p>
      <p>lorem ipsum</p>
      <p>lorem ipsum</p>
      <p>lorem ipsum</p>
      <p>lorem ipsum</p>
      <p>lorem ipsum</p>
      <p>lorem ipsum</p>
      <p>lorem ipsum</p>
      <p>lorem ipsum</p>
      <p>lorem ipsum</p>
      <p>lorem ipsum</p>
      <p>lorem ipsum</p>
      <p>lorem ipsum</p>
      <p>lorem ipsum</p>
      <p>lorem ipsum</p>
      <p>lorem ipsum</p>
      <p>lorem ipsum</p>
      <p>lorem ipsum</p>
      <p>lorem ipsum</p>
      <p>lorem ipsum</p>
      <p>lorem ipsum</p>
      <p>lorem ipsum</p>
      <p>lorem ipsum</p>
      <p>lorem ipsum</p>
      <p>lorem ipsum</p>
      <p>lorem ipsum</p>
      <p>lorem ipsum</p>
      <p>lorem ipsum</p>
      <p>lorem ipsum</p>
      <p>lorem ipsum</p>
      <p>lorem ipsum</p>
    </div>
  </dxc-application-layout-sidenav>
  <dxc-application-layout-main>
    <div style="display: flex; height: 100%; width: 100%; flex-wrap: wrap;">
      <h1>Main Content</h1>
      <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras convallis
        auctor turpis, id mattis ex. Donec arcu dui, semper in orci vitae,
        accumsan mollis elit. Donec in erat porttitor, sodales arcu eu,
        venenatis dui. Duis mattis lacus ipsum, vestibulum aliquet felis
        accumsan vitae. In feugiat dui vel risus porttitor fringilla. Donec
        placerat convallis ultrices. Suspendisse mollis mi venenatis nisi
        commodo cursus. Suspendisse porttitor consequat diam, in vehicula mi
        aliquam id. Etiam id rhoncus turpis. Morbi elementum nibh sit amet
        mauris efficitur, quis tempor nibh porttitor. Etiam hendrerit, ex et
        congue tincidunt, ex justo sollicitudin tortor, in lobortis enim turpis
        ut est. Proin ipsum arcu, feugiat nec sem at, mattis cursus urna. Sed at
        massa sit amet purus rutrum maximus dapibus vitae ligula. Ut facilisis,
        massa sit amet tristique eleifend, justo risus feugiat felis, vitae
        varius odio nisl et odio. Mauris accumsan tincidunt lectus at convallis.
        Ut lobortis turpis non nunc ultricies elementum. Ut varius finibus
        laoreet. Morbi quis imperdiet orci, vitae feugiat nulla. Vivamus sit
        amet ante volutpat lectus consectetur tempor. Etiam ut maximus mi, a
        sollicitudin felis. Phasellus neque orci, auctor ut felis vulputate,
        iaculis lacinia odio. Curabitur at vestibulum lacus, id vestibulum leo.
        Donec finibus leo vel tincidunt vestibulum. Nulla facilisi. Donec
        laoreet imperdiet odio vitae facilisis. Morbi sed velit non mauris
        convallis tincidunt. Integer sit amet fermentum dolor, a tempor urna.
        Nunc tempor lorem id tellus semper, posuere porttitor tortor commodo.
        Sed a elit eget massa auctor condimentum. Maecenas libero elit,
        vestibulum a libero a, vehicula convallis tortor. Quisque fringilla orci
        nisi, eu ultricies turpis condimentum ac. Phasellus lacus metus, commodo
        at orci eget, sodales vulputate libero. Nulla facilisi. Integer aliquam
        pulvinar lacus ut aliquet. Aenean maximus felis nec neque elementum
        rhoncus. Cras aliquam egestas turpis. Nam viverra turpis id felis
        hendrerit sodales. Suspendisse potenti. Aliquam nec faucibus quam. Nulla
        sed sem dapibus, consequat tortor id, rutrum elit. Praesent ultricies
        rutrum nisl, sit amet accumsan massa tincidunt eget. Etiam ex nisl,
        fermentum a tempus et, fringilla vel erat. Praesent lobortis nibh nibh,
        nec lobortis lacus fermentum ut. Maecenas at elit a ipsum maximus
        tincidunt. Duis id sem sed mauris aliquet tincidunt at vel tellus.
        Curabitur aliquam dolor in commodo ornare. Sed nec feugiat ligula, vitae
        pharetra ligula. Suspendisse potenti. Vivamus semper mi rhoncus leo
        laoreet, eget facilisis ligula gravida. Integer neque arcu, consequat
        eget elementum sed, venenatis quis dolor. Duis convallis augue ac justo
        luctus fermentum. Etiam posuere ultrices dui, vel luctus lorem varius
        porta. Proin eget libero eu lorem scelerisque fringilla id vitae nunc.
      </div>
    </div>
  </dxc-application-layout-main>
  <dxc-footer logoSrc="assets/img/dxc-logo.svg"></dxc-footer>
</dxc-application-layout>
